@tailwind base;
@tailwind components;
@tailwind utilities;

.prose {
  max-width: 100%;
}
.btn {
  padding: 12px 18px;
  font-weight: 900;
  width: fit-content;
  border-radius: 25px;
}
.btn-primary {
  background-color: #063853;
}
.btn-secondary {
  background-color: #21c3ff;
}
::-webkit-scrollbar {
  height: 6px;
  margin: 0px 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #a7a7a7;
  border-radius: 25px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a7a7a7;
}

.item-dropdown,
.items-display {
  border-radius: 25px;
  margin: 20px 0px;
  padding: 8px 14px;
}
.item {
  padding: 16px;
  border-radius: 25px;
}
@media screen and (max-width: 768px) {
  iframe {
    max-width: 300px;
  }
}
.btn-secondary:hover {
  background-color: #96daff;
  color: black;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}
.item-dropdown:hover {
  background-color: #0f75ad;
  cursor: pointer;
  transition: background-color 0.5s;
}
a:hover {
  font-weight: bold;
  transition: font-weight 0.5s;
}
