@tailwind base;
@tailwind components;
@tailwind utilities;

.prose {
  max-width: 100%;
}
.btn {
  padding: 12px 18px;
  font-weight: 900;
  width: fit-content;
  border-radius: 25px;
}
.btn-primary {
  background-color: #063853;
}
.btn-secondary {
  background-color: #21c3ff;
}
